<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>铂隆e站.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C2561D81C06D96A00543498</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C2561F11C06D96A00543498</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C2561FC1C06D96A00543498</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
